## Dictionary

1. Display student1 data?
2. Display course name of student2?
3. Display total numbers of courses of student4?
4. Display all students names?
5. Display all Students names who is spending 5000 or above to learn course?
6. Display all courses which fee is 3000?
7. Display all unique locations?
8. Display all Students names who are learning 'Python' Course?
9. Display the second course of each student?

In [1]:
students = {
'student1':{'Name':'Gaurav', 'Loc':'Delhi', 'Courses':'Full Stack', 'Fee': 3000},
'student2':{'Name':'Aditya', 'Loc':'Mumbai', 'Courses':'Full Stack', 'Fee': 3000},
'student3':{'Name':'Pankaj', 'Loc':'Mumbai', 'Courses':['Python','Django', 'Flask'], 'Fee': 3000},
'student4':{'Name':'Ritesh', 'Loc':'Chennai', 'Courses':['Excel','PowerBI','SQL'], 'Fee': 4000},
'student5':{'Name':'Abhishek', 'Loc':'Kolkata', 'Courses':['Python','Excel','Full Stack'], 'Fee': 5000},
}

In [2]:
#1. Display student1 data?
print(students["student1"])

{'Name': 'Gaurav', 'Loc': 'Delhi', 'Courses': 'Full Stack', 'Fee': 3000}

In [3]:
#2. Display course name of student2?
print(students["student2"]["Courses"])

Full Stack

In [4]:
#3.Display total numbers of courses of student4?
print(len(students["student4"]["Courses"]))

3

In [5]:
#4.Display all students names?
student_list=(students.keys())
for i in student_list:
    print(students[i]["Name"])

Gaurav
Aditya
Pankaj
Ritesh
Abhishek

In [6]:
#5. Display all Students names who is spending 5000 or above to learn course?
student_list=(students.keys())
for i in student_list:
    if students[i]["Fee"]>=5000:
        print(students[i]["Name"])

Abhishek

In [7]:
#6.Display all courses which fee is 3000?
student_list=(students.keys())
for i in student_list:
    if students[i]["Fee"]>=3000:
        print(students[i]["Courses"])

Full Stack
Full Stack
['Python', 'Django', 'Flask']
['Excel', 'PowerBI', 'SQL']
['Python', 'Excel', 'Full Stack']

In [8]:
#7.Display all unique locations?
student_list=(students.keys())
for i in student_list:
    print(students[i]["Loc"])

Delhi
Mumbai
Mumbai
Chennai
Kolkata

In [9]:
#8.Display all Students names who are learning 'Python' Course?
student_list=(students.keys())
for i in student_list:
    if "Python" in students[i]["Courses"]:
        print(students[i]["Name"])

Pankaj
Abhishek

In [10]:
#9.Display the second course of each student?
student_list=(students.keys())
for i in student_list:
    if students[i]["Courses"]:
        print(students[i]["Courses"][1])

u
u
Django
PowerBI
Excel